<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="description" content="Object Detection Service">
        <meta name="keywords" content="Object Detection, YOLO">
        <meta name="author" content="Junhua">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Import CSS for the data -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-primary {{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
        <div class='container'>
            <h4>For more information</h4>
            <a class='btn btn-primary' href='https://github.com/Jh123x/DYOM-Object-Detection-Web-Service' target='_blank'>Github Repo</a>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>