{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <header>
        <h2>
            Object Detection
        </h2>
    </header>
</div>
<div class='container'>
    <p>
        How does this work?
    </p>
    <p>
        This website takes a copy of your image and identifies what is inside and draw a bounding box and downloads the picture back to you.
        It can support a max file size of 50Mb.
    </p>
    <form method=post enctype=multipart/form-data action='/upload'>
        <input type=file name=file>
        <input type=submit value=Upload class="btn btn-primary">
    </form>
</div>
{% endblock %}
